<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/ae360af17e.js"
			crossorigin="anonymous"
		></script>
        <link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/>
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		></script>
		<script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
		<script
			defer
			src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"
		></script>
		<script
			defer
			src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"
		></script>
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"
		></script>
		<script defer src="/js/tables.js"></script>
		<script defer src="/js/charts.js"></script>
        <script defer src="/js/toggler.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
		<title>Reports</title>
	</head>
	<body>
		<div class="wrapper">
			<aside id="sidebar">
				<div class="h-50">
					<div class="sidebar-logo">
						<a href="">
							<img
								src="/img/logo.png"
								class="img-thumbnail border-0"
								alt="BCA"
							/>
						</a>
					</div>
					<hr class="mx-4 mt-0" style="width: 13rem" />
					<div class="container my-2">
						<div class="row">
							<div class="col-md-4 mx-2">
								<img
									src="/img/pain.jpg"
									class="img-fluid img-thumbnail"
									alt="..."
								/>
							</div>
							<div class="col-md-6">
								<p class="my-0 pt-2" style="font-size: 15px"><%= person.fname %> <%= person.lname %></p>
								<span class="badge rounded-pill text-bg-info my-0"
									><%= person.role %></span
								>
							</div>
						</div>
					</div>
					<!-- Sidebar Navigation -->
					<ul class="sidebar-nav">
						<li class="sidebar-item">
							<a
								href="/admin/dashboard"
								class="sidebar-link collapsed"
								data-bs-target="#dashboard"
								aria-expanded="false"
								aria-controls="dashboard"
							>
								<i class="fa-solid fa-sliders pe-2"></i>
								Dashboard
							</a>
						</li>
						<li class="sidebar-item">
							<a
								href="/admin/accounts"
								class="sidebar-link"
								aria-expanded="false"
								aria-controls="users"
							>
								<i class="fa-solid fa-user pe-2"></i>
								Account Management
							</a>
						</li>
						<li class="sidebar-item">
							<a
								href="/admin/records-menu"
								class="sidebar-link"
								aria-expanded="false"
								aria-controls="pages"
							>
								<i class="fa-regular fa-file-lines pe-2"></i>
								Records Management
							</a>
						</li>
						<li class="sidebar-item">
							<a
								href="/admin/archives"
								class="sidebar-link"
								aria-expanded="false"
								aria-controls="auth"
							>
								<i class="fa-regular fa-user pe-2"></i>
								Archives
							</a>
						</li>
						<li class="sidebar-item">
							<a
								href="/admin/calendar"
								class="sidebar-link"
								data-bs-target="#dashboard"
								aria-expanded="false"
								aria-controls="dashboard"
							>
								<i class="fa-regular fa-calendar pe-2"></i>
								Calendar
							</a>
						</li>
						<li class="sidebar-item">
							<a
								href="/admin/reports"
								class="sidebar-link"
								data-bs-target="#dashboard"
								aria-expanded="false"
								aria-controls="dashboard"
							>
								<i class="fa-regular fa-flag pe-2"></i>
								Reports
							</a>
						</li>
					</ul>
				</div>
			</aside>

			<div class="main">
				<nav class="navbar navbar-expand-lg px-1 border-bottom">
					<!-- Button for sidebar toggle -->
					<div class="container-fluid">
						<button class="btn" type="button" data-bs-theme="light">
							<span class="navbar-toggler-icon"></span>
						</button>

						<ul class="navbar-nav">
							<!-- Added this ul element for right-aligned items -->
							<li class="nav-item dropdown">
								<a
									class="nav-link dropdown-toggle"
									href="#"
									role="button"
									data-bs-toggle="dropdown"
									aria-expanded="false"
								>
									<span class="fa-solid fa-user pe-2"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-lg-end">
									<li>
										<a
											class="dropdown-item"
											href="/admin/profile"
											>View Profile</a
										>
									</li>
									<li>
										<a
											class="dropdown-item"
											href="/admin/historyLogs"
											>History logs</a
										>
									</li>
									<li><hr class="dropdown-divider" /></li>
									<li>
										<a class="dropdown-item" href="/auth/logout"
											>Logout</a
										>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
				<div class="container">
					<h2 class="my-1">Reports</h2>
					<hr />
					<div class="card custom-card-2 border-0">
						<div class="card-header border-0">
							<p class="my-0">Summary reports</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-3">
									<canvas id="reportChart"></canvas>
								</div>
								<div class="col" style="border-left: 1px solid gray; height: 400px; overflow-y: auto;">
									<p>Activity logs</p>
									<% historyLogs.forEach(log => { %>
										<div class="card my-2 custom-card-2 border-0">
											<div class="card-body position-relative">
												<p class="m-0 fs-6 fw-medium"><%= log.action %></p>
												<p class="m-0" style="color: #72726e"><%= log.timestamp %></p>
												<p class="d-inline-flex gap-1 mb-0 position-absolute top-0 end-0 translate-middle" style="padding-top: 80px;">
													<a class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#collapseExample<%= log._id %>" role="button" aria-expanded="false" aria-controls="collapseExample<%= log._id %>">
														View details
													</a>
												</p>
												<div class="collapse" id="collapseExample<%= log._id %>">
													<div class="card card-body">
														<%= log.details %>
													</div>
												</div>
											</div>
										</div>
									<% }); %>
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
