<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/ae360af17e.js"
			crossorigin="anonymous"
		></script>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
		/>
		<script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		></script>

		<script
			defer
			src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"
		></script>
		<script
			defer
			src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"
		></script>
		<script defer src="/js/toggler.js"></script>
		<script defer src="/js/tables.js"></script>
		<script defer src="/js/tooltip.js"></script>
		<script defer src="/js/limit.number2.js"></script>
		<script defer src="/js/disable.button.js"></script>
		<script defer src="/js/spinner3.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
		<link rel="icon" type="image/x-icon" href="/img/logo.png">
		<title>Records</title>
	</head>
	<body>
		<div class="wrapper">
			<aside id="sidebar">
				<div class="h-50">
					<div class="sidebar-logo">
						<a href="">
							<img
								src="/img/logo.png"
								class="img-thumbnail border-0"
								alt="logo"
							/>
						</a>
					</div>
					<hr class="mx-4 mt-0" style="width: 13rem" />
					<div class="container my-2">
						<div class="row">
							<div class="col-md-4 mx-2">
								<img src="<%= person.profilePicture || '/img/default-img.jpg' %>" alt="Profile Picture" style="width: 70px; height: 65px; border-radius: 50%;" />
							</div>
							<div class="col-md-6">
								<p class="my-0 pt-2" style="font-size: 15px"><%= person.fname %> <%= person.lname %></p>
								<span class="badge rounded-pill text-bg-info my-0"
									><%= person.classAdvisory %> Adviser</span
								>
							</div>
						</div>
					</div>
					<!-- Sidebar Navigation -->
					<ul class="sidebar-nav">
						<li class="sidebar-item">
							<a
								href="/classAdvisor/dashboard"
								class="sidebar-link"
								data-bs-target="#dashboard"
								aria-expanded="false"
								aria-controls="dashboard"
							>
								<i class="fa-solid fa-sliders pe-2"></i>
								Dashboard
							</a>
						</li>
						<li class="sidebar-item" style="border-right: 2px solid #007bff; background: #e3edf0;">
							<a
								href="/classAdvisor/records"
								class="sidebar-link"
								aria-expanded="false"
								aria-controls="pages"
							>
								<i class="fa-regular fa-file-lines pe-2"></i>
								Records Management
							</a>
						</li>
						<!-- <li class="sidebar-item">
							<a
								href="/classAdvisor/archives"
								class="sidebar-link"
								aria-expanded="false"
								aria-controls="auth"
							>
								<i class="fa-solid fa-archive pe-2"></i>
								Archives
							</a>
						</li> -->
						<!-- <li class="sidebar-item">
							<a
								href="/classAdvisor/calendar"
								class="sidebar-link collapsed"
								data-bs-target="#dashboard"
								aria-expanded="false"
								aria-controls="dashboard"
							>
								<i class="fa-regular fa-calendar pe-2"></i>
								Calendar
							</a>
						</li> -->
					</ul>
				</div>
			</aside>

			<div class="main">
				<nav class="navbar navbar-expand-lg px-1 border-bottom">
					<!-- Button for sidebar toggle -->
					<div class="container-fluid">
						<button class="btn" type="button" data-bs-theme="light">
							<span class="navbar-toggler-icon"></span>
						</button>

						<ul class="navbar-nav">
							<!-- Added this ul element for right-aligned items -->
							<li class="nav-item dropdown">
								<a
									class="nav-link dropdown-toggle"
									href="#"
									role="button"
									data-bs-toggle="dropdown"
									aria-expanded="false"
								>
									<span class="fa-solid fa-user pe-2"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-lg-end">
									<li>
										<a class="dropdown-item" href="/classAdvisor/profile"
											>View Profile</a
										>
									</li>
									<li><hr class="dropdown-divider" /></li>
									<li>
										<a class="dropdown-item" href="/auth/logout">Logout</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
				<div class="container-lg">
					<h2 class="my-1">Records Management</h2>
					<hr class="mb-2" />
					
					<a
							id="addRow"
							class="btn btn-success btn-sm my-2 ms-3"
							href="/classAdvisor/addRecords"
							>Add new student</a
						>
						<% try { %>
							<%- include('../credentials/flash-message.ejs') %>
						  <% } catch (error) { %>
							<div>Error: <%= error.message %></div>
						  <% } %>
					<div class="container w-100 position-relative" style="max-height: 466px; overflow-y: auto;"> 
						
						
						
						<table
							id="example"
							class="table table-striped hover"
							style="width: 100%; font-size: 15px;"
						>
							<thead class="table-info">
								<tr>
									<th>LRN</th>
									<th>Last Name</th>
									<th>First Name</th>
									<th>Middle Name</th>
									<th>Gender</th>
									<th>Transferee</th>
									<th>Grade level</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<% records.forEach(record => { %>
								<tr>
									<td><%= record.lrn %></td>
									<td><%= record.lName %></td>
									<td><%= record.fName %></td>
									<td><%= record.mName %></td>
									<td><%= record.gender %></td>
									<td><%= record.transferee %></td>
									<td><%= record.gradeLevel %></td>
									<td>
										<a
											class="btn btn-sm"
											href="/classAdvisor/studentFolders/<%= record._id %>"
											data-bs-toggle="tooltip"
											data-bs-placement="top"
											data-bs-title="View files"
											><span class="material-symbols-outlined">
												folder
											</span>
											</a
										>
										<button
											type="button"
											class="btn btn-sm"
											data-bs-toggle="modal"
											data-bs-target="#editRecordModal"
											onclick="populateEditForm('<%= record._id %>', '<%= record.lrn %>', '<%= record.lName %>', '<%= record.fName %>', '<%= record.mName %>', '<%= record.gender %>', '<%= record.transferee %>', '<%= record.gradeLevel %>')"
										>
											<span 
												class="material-symbols-outlined"
												data-bs-toggle="tooltip"
												data-bs-placement="top"
												data-bs-title="Edit"
											>
												edit
											</span>
										</button>
									</td>

									<!-- Add more cells based on your user schema -->
								</tr>
								<% }); %>
							</tbody>
							<tfoot class="table-info">
								<tr>
									<th>LRN</th>
									<th>Last Name</th>
									<th>First Name</th>
									<th>Middle Name</th>
									<th>Gender</th>
									<th>Transferee</th>
									<th>Grade level</th>
									<th>Action</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- Add a modal for editing records -->
		<div
			class="modal fade"
			data-bs-backdrop="static" 
			data-bs-keyboard="false"
			id="editRecordModal"
			tabindex="-1"
			aria-labelledby="editRecordModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="editRecordModalLabel">Edit Record</h5>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						<!-- Form for editing records -->
						<form id="editRecordForm" method="post">
							<div class="form-floating mb-3">
								<input
									type="number"
									onkeydown="return event.keyCode !== 69"
									class="form-control"
									name="editLrn"
									id="editLrn"
									placeholder="Learner Reference Number(LRN)"
									required
								/>
								<label for="editLrn">Learner Reference Number (LRN)</label>
							</div>
							<div class="form-floating mb-3">
								<input
									type="text"
									class="form-control"
									name="editLName"
									id="editLName"
									required
								/>
								<label for="editLName">Last Name</label>
							</div>
							<div class="form-floating mb-3">
								<input
									type="text"
									class="form-control"
									name="editFName"
									id="editFName"
									required
								/>
								<label for="editFName">First Name</label>
							</div>

							<div class="form-floating mb-3">
								<input
									type="text"
									class="form-control"
									name="editMName"
									id="editMName"
								/>
								<label for="editMName">Middle Name</label>
							</div>

							<div class="form-floating mb-3">
								<select class="form-select" name="editGender" id="editGender" required>
									<option disabled>Select gender</option>
									<option value="Male">Male</option>
									<option value="Female">Female</option>
								</select>
								<label for="editGender">Gender</label>
							</div>
							<div class="form-floating mb-3">
								<select class="form-select" name="editTransferee" id="editTransferee" required>
									<option disabled>Is student transferee</option>
									<option value="Yes">Yes</option>
									<option value="No">No</option>
								</select>
								<label for="editTransferee">Is student transferee?</label>
							</div>
							<div class="form-floating mb-3">
								<select class="form-select" name="editGradeLevel" id="editGradeLevel" required>
									<option disabled>Select Grade level</option>
									<option value="Kinder" <%= person.classAdvisory === 'Kinder' ? 'selected' : 'disabled' %>>Kinder</option>
									<option value="Grade 1" <%= person.classAdvisory === 'Grade 1' ? 'selected' : 'disabled' %>>Grade 1</option>
									<option value="Grade 2" <%= person.classAdvisory === 'Grade 2' ? 'selected' : 'disabled' %>>Grade 2</option>
									<option value="Grade 3" <%= person.classAdvisory === 'Grade 3' ? 'selected' : 'disabled' %>>Grade 3</option>
									<option value="Grade 4" <%= person.classAdvisory === 'Grade 4' ? 'selected' : 'disabled' %>>Grade 4</option>
									<option value="Grade 5" <%= person.classAdvisory === 'Grade 5' ? 'selected' : 'disabled' %>>Grade 5</option>
									<option value="Grade 6" <%= person.classAdvisory === 'Grade 6' ? 'selected' : 'disabled' %>>Grade 6</option>
								</select>
								<label for="editGradeLevel">Grade level</label>
							</div>
							<div class="d-flex justify-content-end">
								<button type="submit" id="submitButton" style="width: 100%;" class="btn btn-success">
									Update
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
			// JavaScript function to populate the edit form
			function populateEditForm(
				recordId,
				lrn,
				lname,
				fname,
				mname,
				gender,
				transferee,
				gradeLevel,
			) {
				document
					.getElementById('editRecordForm')
					.setAttribute('action', `/classAdvisor/edit-record/${recordId}`);
				document.getElementById('editLrn').value = lrn;
				document.getElementById('editLName').value = lname;
				document.getElementById('editFName').value = fname;
				document.getElementById('editMName').value = mname;
				document.getElementById('editGender').value = gender;
				document.getElementById('editTransferee').value = transferee;
				document.getElementById('editGradeLevel').value = gradeLevel;
			}
		</script>
		
		
		
	</body>
</html>
