<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/>

		<script
			defer
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"
		></script>
		<script
			defer
			src="https://kit.fontawesome.com/ae360af17e.js"
			crossorigin="anonymous"
		></script>
		<script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script defer src="/js/charts.js"></script>
		<script defer src="/js/toggler.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
		<link rel="icon" type="image/x-icon" href="/img/logo.png" />
		<title>View Files</title>
	</head>
	<body>
		<div class="wrapper">
			<!-- Sidebar -->
			<aside id="sidebar">
				<div class="h-50">
					<div class="sidebar-logo">
						<a href="">
							<img
								src="/img/logo.png"
								class="img-thumbnail border-0"
								alt="logo"
							/>
						</a>
					</div>
					<hr class="mx-4 mt-0" style="width: 13rem" />
					<div class="container my-2">
						<div class="row">
							<div class="col-md-4 mx-2">
								<img
									src="/img/pain.jpg"
									class="img-fluid img-thumbnail"
									alt="..."
								/>
							</div>
							<div class="col-md-6">
								<p class="my-0 pt-2" style="font-size: 15px">
									<%= person.fname %> <%= person.lname %>
								</p>
								<span class="badge rounded-pill text-bg-info my-0 fw-normal"
									><%= person.role %></span
								>
							</div>
						</div>
					</div>
					<!-- Sidebar Navigation -->
					<ul class="sidebar-nav">
						<li class="sidebar-item">
							<a
								href="/classAdvisor/dashboard"
								class="sidebar-link collapsed"
								data-bs-target="#dashboard"
								aria-expanded="false"
								aria-controls="dashboard"
								data-menuitem="dashboard"
							>
								<i class="fa-solid fa-sliders pe-2"></i>
								Dashboard
							</a>
						</li>
						<li
							class="sidebar-item"
							style="border-right: 2px solid #007bff; background: #e3edf0"
						>
							<a
								href="/classAdvisor/records"
								class="sidebar-link"
								aria-expanded="false"
								aria-controls="pages"
								data-menuitem="records"
							>
								<i class="fa-regular fa-file-lines pe-2"></i>
								Records Management
							</a>
						</li>
						<!-- <li class="sidebar-item">
						<a
							href="/classAdvisor/archives"
							class="sidebar-link"
							aria-expanded="false"
							data-menuitem="archives"
						>
							<i class="fa-regular fa-user pe-2"></i>
							Archives
						</a>
					</li> -->
						<!-- <li class="sidebar-item">
						<a
							href="/classAdvisor/calendar"
							class="sidebar-link collapsed"
							data-bs-target="#dashboard"
							aria-expanded="false"
							data-menuitem="calendar"
						>
							<i class="fa-regular fa-calendar pe-2"></i>
							Calendar
						</a>
					</li> -->
					</ul>
				</div>
			</aside>
			<!-- Main Component -->
			<div class="main">
				<nav class="navbar navbar-expand-lg px-1 border-bottom">
					<!-- Button for sidebar toggle -->
					<div class="container-fluid">
						<button class="btn" type="button" data-bs-theme="light">
							<span class="navbar-toggler-icon"></span>
						</button>
						<ul class="navbar-nav">
							<!-- Added this ul element for right-aligned items -->
							<li class="nav-item dropdown">
								<a
									class="nav-link dropdown-toggle"
									href="#"
									role="button"
									data-bs-toggle="dropdown"
									aria-expanded="false"
								>
									<span class="fa-solid fa-user pe-2"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-lg-end">
									<li>
										<a class="dropdown-item" href="/classAdvisor/profile"
											>View Profile</a
										>
									</li>
									<li><hr class="dropdown-divider" /></li>
									<li>
										<a class="dropdown-item" href="/auth/logout">Logout</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
				<div class="container-lg position-relative" style="overflow-y: auto; max-height: 90vh;">
					<h2 class="mt-2">Documents</h2>
					<hr />
					<div class="container-lg">
						<% try { %> <%- include('../credentials/flash-message.ejs') %> <% }
						catch (error) { %>
						<div>Error: <%= error.message %></div>
						<% } %>

						<!-- Form to upload additional files in new-files directory -->
						<form
							action="/classAdvisor/addFile/<%= student._id %>"
							method="post"
							enctype="multipart/form-data"
							class="mb-3"
						>
							<div class="row">
								<input
									class="form-control mb-3"
									type="file"
									name="pdfFile"
									accept=".pdf"
									required
								/>
								<button type="submit" class="btn btn-sm btn-success">Submit</button>
							</div>
						</form>

						<!-- Loop to display up to 2 PDF files -->
						<% if (filename.length === 0) { %>
							<div class="alert alert-warning d-flex align-items-center justify-content-center" role="alert">
							No PDF files available.
							</div>
						<% } else { %> <% for (let i = 0; i < Math.min(2, filename.length);
						i++) { %>
						<div class="card mb-3 custom-card-2 border-0" style="height: 100vh">
							<div class="card-header text-center bg-info position-relative">
								<%= filename[i] %>
								<form
									action="/classAdvisor/deleteFile/<%= student._id %>/<%= i %>"
									method="post"
								>
									<button
										type="submit"
										class="btn btn-danger btn-sm position-absolute top-0 end-0"
										style="padding: 6px; margin: 3px"
									>
										Delete
									</button>
								</form>
							</div>
							<div class="card-body">
								<embed
									src="data:application/pdf;base64, <%= base64PDF[i] %>"
									width="100%"
									height="100%"
								/>
							</div>
						</div>
						<% } %> <% } %>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
